body{
    margin: 0;
    padding:15px 0px 0px 0px;
    height: 1.6cm;
    width: 3.0cm;
    overflow: hidden;
    position: relative;
}

.qrimage{
    height: 2.3cm;
    position: absolute;
    right: 0.5cm;
    top: 0.1cm;
}

.text{
    position: absolute;
    top: 0.3cm;
    left: 0.3cm;
}

.productId,
.fit,
.profile{
    font-size: 5cm;
    display: block;
    display: inline;
    vertical-align: top;
}