<html>
<head>
	<?php //echo  $this->Html->css("label.css"); ?>
    <style>
        @page{
            size: 3cm 1.6cm;
        }

        html, body{
            height: 1.8cm;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: relative;
        }

        /*.qrimage{*/
            /*height: 4cm;*/
            /*margin: 1cm 0.5cm 0 0;*/
            /*padding: 0;*/
            /*position: relative;*/
            /*top: 0.5cm;*/
        /*}*/

        /*.productId{*/
            /*display: inline;*/
            /*font-size: 14cm;*/
            /*margin: 0;*/
            /*padding: 0;*/
            /*position: relative;*/
            /*top: 0.5cm;*/
        /*}*/
    </style>
</head>
<body>
<?= $this->fetch('content') ?>
</body>
</html>